{
    "trailingComma": "none",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "apexInsertFinalNewline": true,
    "overrides": [
        {
            "files": "*.{cls,trigger}",
            "options": { "parser": "apex" }
        },
        {
            "files": "*.html",
            "options": { "parser": "lwc" }
        },
        {
            "files": "*.xml",
            "options": { "parser": "xml", "printWidth": 200 }
        }
    ]
}
